<div class="jumbotron">
  <h1>Hello, <i class="fa fa-microphone"></i>
 Gabbers!</h1>
  <p>Have Time To Talk?- A Twitter Clone Application</p>
  <%= link_to "Sign Up!", "#", class: "btn btn-primary btn-lg" %>
</div>